<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Jared Candelaria's {{ title }}!
  </h1>
  <img width="300" alt="My Image" src="https://snag.gy/YlgSBV.jpg">
  <h2>Some Examples of My Code</h2>
  <div class="First Project">
    <h2><a rel="First Project" href="http://jaredsfirstwebsite.surge.sh/">First Project</a></h2>
    <h3>Description of Project/ What was used/ Time Line</h3>
    <img src="https://snag.gy/vCXJwt.jpg" height="250" width="550">
  </div>
  <div class="Re-Do of First Projec">
    <h2><a rel="Re-Do of First Project" href="#">Re-Do of First Project</a></h2>
    <h3>Description of Project/ What was used/ Time Line</h3>
    <img src="#" height="250" width="250">
  </div>
  <div class="Group Project">
    <h2><a rel="Group Project" href="http://awktalk-group-project.surge.sh/#/">Group Project</a></h2>
    <h3>Description of Project/ What was used/ Time Line</h3>
    <img src="https://snag.gy/1TXIAa.jpg" height="250" width="550">
  </div>
  <div class="Re-do of Group Project">
    <h2><a rel="Re-Do of Group Project" href="#">Re-Do of Group Project</a></h2>
    <h3>Description of Project/ What was used/ Time Line</h3>
    <img src="#" height="250" width="250">
  </div>
  <div class="Capstone Project">
    <h2><a rel="Capstone Project" href="http://HYPES.surge.sh">Capstone Project</a></h2>
    <h3>Description of Project/ What was used/ Time Line</h3>
    <img src="https://snag.gy/6Iswmp.jpg" height="250" width="250">
  </div>
  <div class="Re-Do of Capstone Project">
    <h2><a rel="Updates to Capstone" href="#">Updates to Capstone</a></h2>
    <h3>Description of Project/ What was used/ Time Line</h3>
    <img src="#" height="250" width="250">
  </div>
  
</div>
